.Prophecy {
    font-family:'Times New Roman', Times, serif;
    font-size: 36px;
    color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800%;
    background-color: black;
    margin: 75px;
    text-align: center;
}

.Prophecy-Edits {
    font-family:'Times New Roman', Times, serif;
    font-size: 36px;
    color: white;
    text-align: center;
}